receivers:
  otlp:
    protocols:
      grpc:
        endpoint: otel-collector:4317
      http:
        endpoint: otel-collector:4318
        cors:
          allowed_origins:
            - "http://*"
            - "https://*"

processors:

  memory_limiter:
    check_interval: 5s
    limit_percentage: 80
    spike_limit_percentage: 25

  # Фильтр, исключающий SignedDocs-логи
  filter/exclude_signed_docs:
    logs:
      exclude:
        match_type: exists
        record_attributes:
          - key: SignedDocId

  # Фильтр, пропускающий только SignedDocs-логи
  filter/only_signed_docs:
    logs:
      include:
        match_type: exists
        record_attributes:
          - key: SignedDocId

  # Фильтр, пропускающий только ошибки и предупреждения
  filter/warn_plus:
    logs:
      log_record:
        - 'severity_number >= SEVERITY_NUMBER_WARN'

  batch:

exporters:
  # Экспорт в Kafka для всех логов
  kafka:
    brokers:
      - "${KAFKA_BROKERS}"
    logs:
      topic: "logs"
      encoding: "otlp_json"

  # Экспорт чувствительных логов SignedDocs в отдельный топик Kafka
  kafka/signed_docs:
    brokers:
      - "${KAFKA_BROKERS}"
    logs:
      topic: "logs-signed-docs"
      encoding: "otlp_json"

  # Seq, только для разработки
  otlphttp/seq:
    endpoint: "${SEQ_ENDPOINT}"
    tls:
      insecure: true # разрешить HTTP
    headers:
      X-Seq-ApiKey: "${SEQ_API_KEY}"

service:
  pipelines:
    # Все логи → Seq - только для разработки
    logs/seq:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [otlphttp/seq]

    # Все логи, кроме SignedDocs → Kafka топик logs
    logs/all:
      receivers: [otlp]
      processors: [filter/exclude_signed_docs, memory_limiter, batch]
      exporters: [kafka]

    # Логи SignedDocs → Kafka топик logs-signed-docs
    logs/db:
      receivers: [otlp]
      processors: [filter/only_signed_docs, memory_limiter, batch]
      exporters: [kafka/signed_docs]

